body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: whitesmoke;
}

div.header {
  width: 100%;
  margin-top: 0px;
  padding: 45px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #FF5700;
  text-shadow: 2px 2px black;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

form#search-form {
  display: flex;
  flex-flow: row nowrap
}

#error-alert {
  background-color: #cc0000;
  width: 100%;
  padding: 35px;
  margin: 10px;
}

.hidden {
  display: none;
}

form * {
    background-color: lightgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 0.5em;
    box-shadow: 2px 2px black;
    margin-top: 20px;
  }

#search-bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-bar-submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  color: black;
  text-decoration-color: #FF5700;
}

h2 {
  font-size:large;
}

li > p{
  font-size: small;
}

li {
  list-style-type: none;
  border: 1px solid #FF5700;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  border-radius: .5em;
  background-color: ghostwhite;
}

p > a {
  text-decoration: none;
}

#error-alert > span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  color: white;
}

#error-alert {
  width: 50%;
}

img {
  background-color: white;
}

a:hover {
  color: #FF5700;
}