body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: whitesmoke;
}

div.header {
  width: 100%;
  margin-top: 0px;
  padding: 45px;
  /* height: 40px; */
  text-align: center;
  color: white;
  background-color: #FF5700;
  text-shadow: 2px 2px black;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

form#search-form {
  display: flex;
  flex-flow: row nowrap
}

#error-alert {
  background-color: #cc0000;
  width: 100%;
  padding: 35px;
  margin: 10px;
}

.hidden {
  display: none;
}

form * {
    background-color: lightgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 0.5em;
    box-shadow: 2px 2px black;
    margin-top: 20px;
  }

#search-bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-bar-submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  color: black;
  text-decoration-color: #FF5700;
}

h2 {
  font-size:large;
}

li > p{
  font-size: small;
}

li {
  list-style-type: none;
  border: 1px solid #FF5700;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  border-radius: .5em;
  background-color: ghostwhite;
  overflow:auto;
}

p > a {
  text-decoration: none;
}

#error-alert > span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  color: white;
}

#error-alert {
  width: 50%;
  border: 3px dashed white;
}

img {
  background-color: white;
}

a:hover {
  color: #FF5700;
}

ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

li:hover {
  background-color: #fedac8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: darkgray;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  border-radius: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 0.5em;
}

::-webkit-scrollbar-button:end{ width:5%;}
::-webkit-scrollbar-button:start{ width:5%;}